<!DOCTYPE html>
<html lang="zxx">

<head>
      {% load static %}

<!--    <title>Water Home Maintenance & Service Flat Bootstrap Responsive website Template | Home :: w3layouts</title>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Water Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css"  rel="stylesheet" media="all">
    <link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- navigation -->
    <link href="{% static 'assets/css/nav.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- banner slider -->
    <link href="{% static 'assets/css/css_slider.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>
    <!-- header -->
    <header>
        <div class="container">
            <div class="header d-lg-flex justify-content-between align-items-center">
                <div class="header-agile">
                    <h1>
                        <a class="navbar-brand editContent logo" href="index.html">
                            <span class="fa fa-tint" aria-hidden="true"></span>H<SUB>2</SUB>O
                        </a>
                    </h1>
                </div>
                <div class="nav_w3ls">
                    <nav>
                        <input class="menu-btn" type="checkbox" id="menu-btn" />
                        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                        <ul class="menu">
                            <li class="nav-item active"><a class="nav-link" href="custhome">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="uprofile">Profile</a></li>
<!--                            <li class="nav-item"><a class="nav-link" href="venadd_procustview">Products</a></li>-->
<!--                            <li class="dropdown nav-item">-->
<!--                                <a href="#" class="dropbtn nav-link">Dropdown</a>-->
<!--                                <div class="dropdown-content  show">-->
<!--                                    <a class="nav-link" href="#portfolio">Portfolio</a>-->
<!--                                    <a href="#stats" class="nav-link">stats</a>-->
<!--                                    <a href="#services" class="nav-link">Resources</a>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                             <li class="nav-item"><a class="nav-link" href="../registration">Register</a></li>-->
<!--                            <li class="nav-item"><a class="nav-link" href="../login">Login</a></li>-->
                            <li class="nav-item "><a class="nav-link" href="custcontact">Contact</a></li>
                            <li class="nav-item "><a class="nav-link" href="../">Logout</a></li>


                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- //header -->
    <!-- banner -->
    <div class="banner_w3lspvt">
        <div class="csslider infinity" id="slider1">
            <input type="radio" name="slides" id="slides_1" />
            <input type="radio" name="slides" checked="checked" id="slides_2" />
            <input type="radio" name="slides" id="slides_3" />
            <ul class="banner_slide_bg">
                <li>
                    <div class="container">
                        <div class="w3ls_banner_txt ml-0 text-left">
                            <h3 class="w3ls_pvt-title text-white">H<SUB>2</SUB>O</h3>
                            <p class="text-white">#DRINKITUP</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="container">
                        <div class="w3ls_banner_txt">
                            <h3 class="w3ls_pvt-title">H<SUB>2</SUB>O</h3>
                            <p>#DRINKITUP</p>
                            <a href="venadd_procustview" class="btn btn-outline-dark" >OUR PRODUCTS</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="container">
                        <div class="w3ls_banner_txt ml-0 text-left">
                            <h3 class="w3ls_pvt-title text-white">H<SUB>2</SUB>O</h3>
                            <p class="text-white">#DRINKITUP</p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="navigation">
                <div>
                    <label for="slides_1"></label>
                    <label for="slides_2"></label>
                    <label for="slides_3"></label>
                </div>
            </div>
        </div>
    </div>
        <div class="w3_pvt-works pt-sm-5 pt-4" id="services">
        <div class="container py-lg-5">
            <div class="sec-main text-center pb-lg-4 pb-4">
<!--                <h4 class="w3pvt-title">Our Products-->
<!--                </h4>-->
            </div>
            <div class="row space-sec pt-4 mt-lg-5">
                <div class="col-lg-3 col-sm-6 text-center">
                  <div class="col-lg-12 col-sm-12 port-grid">
                    <a href="#gal1"><img src="{% static 'assets/images/Bisleri Water Jar.jpg' %}" alt="news image" class="img-fluid img-thumbnail"></a>
                </div>
                    <div class="ih-item-desc">
                        <h4 class="item-title">Bisleri 20 Ltr Jar</h4>
                        <p>Packaged Drinking Water – Mineral Water Can. Can be stored and consumed for 1 month duration from the date of manufacture.</p>
                        <a class="btn mt-4 w3_pvt-link-bnr scroll bg-theme1 text-white more" href="venadd_procustview" role="button">View
                            More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                  <div class="col-lg-12 col-sm-12 port-grid">
                    <a href="#gal1"><img src="{% static 'assets/images/Golden Valley jar.png' %}" alt="news image" class="img-fluid img-thumbnail"></a>
                  </div>
                    <div class="ih-item-desc">
                        <h4 class="item-title">Golden Valley 20 Ltr Jar</h4>
                        <p>Keeping in mind the ever-evolving requirements of our clients, we are devoted towards offering an optimum quality range of
                            Golden Valley Packaged Drinking Water</p>
                        <a class="btn mt-4 w3_pvt-link-bnr scroll bg-theme1 text-white more" href="venadd_procustview" role="button">View
                            More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                  <div class="col-lg-12 col-sm-12 port-grid">
                    <a href="#gal1"><img src="{% static 'assets/images/Green Valley Jar.png' %}" alt="news image" class="img-fluid img-thumbnail"></a>
                  </div>
                    <div class="ih-item-desc">
                        <h4 class="item-title">Green Valley 20 Ltr Jar</h4>
                        <p>Stringent quality tests are conducted before making the
                            final delivery of processed water.</p>
                        <a class="btn mt-4 w3_pvt-link-bnr scroll bg-theme1 text-white more" href="venadd_procustview" role="button">View
                            More</a>
                    </div>
                </div>
               <div class="col-lg-3 col-sm-6 text-center">
                  <div class="col-lg-12 col-sm-12 port-grid">
                    <a href="#gal1"><img src="{% static 'assets/images/Bleu Jar.png' %}" alt="news image" class="img-fluid img-thumbnail"></a>
                  </div>
                    <div class="ih-item-desc">
                        <h4 class="item-title">Bleu 20 Ltr Jar</h4>
                        <p>We are engaged in offering the purest form of packaged drinking water.</p>
                        <a class="btn mt-4 w3_pvt-link-bnr scroll bg-theme1 text-white more" href="venadd_procustview" role="button">View
                            More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="portfolio_wthree py-lg-5" id="portfolio">
        <div class="container">
            <div class="text-center py-md-5 py-4">
                <h4 class="w3pvt-title">our portfolio
                </h4>
            </div>
            <div class="row pb-5 text-center">
                <div class="col-lg-4 col-sm-6 port-grid">
                    <a href="#gal1"><img src="{% static 'assets/images/Nestle Waters.jpg' %}" alt="news image" class="img-fluid img-thumbnail"></a>
                </div>
                <div class="col-lg-4 col-sm-6 port-grid">
                    <a href="#gal2"><img src="{% static 'assets/images/Agua.jpeg' %}" alt="news image" class="img-fluid img-thumbnail"></a>
                </div>
                <div class="col-lg-4 col-sm-6 port-grid">
                    <a href="#gal3"><img src="{% static 'assets/images/Bisleri.png' %}" alt="news image" class="img-fluid img-thumbnail"></a>
                </div>
                <div class="col-lg-4 col-sm-6 port-grid mt-lg-4">
                    <a href="#gal4"><img src="{% static 'assets/images/Bleu.jpeg' %}" alt="news image" class="img-fluid img-thumbnail"></a>
                </div>
                <div class="col-lg-4 col-sm-6 port-grid mt-lg-4">
                    <a href="#gal5"><img src="{% static 'assets/images/Cloud drops.jpeg' %}" alt="news image" class="img-fluid img-thumbnail"></a>
                </div>
                <div class="col-lg-4 col-sm-6 port-grid mt-lg-4">
                    <a href="#gal6"><img src="{% static 'assets/images/Fleuves.jpeg' %}" alt="news image" class="img-fluid img-thumbnail"></a>
                </div>
                <div class="col-lg-4 col-sm-6 port-grid mt-lg-4">
                    <a href="#gal7"><img src="{% static 'assets/images/Tata Life Water.jpeg' %}" alt="news image" class="img-fluid img-thumbnail"></a>
                </div>
                <div class="col-lg-4 col-sm-6 port-grid mt-lg-4">
                    <a href="#gal8"><img src="{% static 'assets/images/green valley.jpeg' %}" alt="news image" class="img-fluid img-thumbnail"></a>
                </div>
                <div class="col-lg-4 col-sm-6 port-grid mt-lg-4">
                    <a href="#gal9"><img src="{% static 'assets/images/signature.jpeg' %}" alt="news image" class="img-fluid img-thumbnail"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- //portfolio -->
    <!-- stats -->
    <section class="w3_pvt_stats py-md-5 py-4" id="stats">
        <div class="container">
            <div class="py-lg-5 w3-abbottom">
                <span class="sub-title text-white">bottled drinking water</span>
                <h2 class="w3pvt-title">experts in water delivery</h2>
                <div class="row py-sm-5 py-4">
                    <div class="counter col-lg-3 col-6" data-aos="fade-up">
                        <span class="fa fa-smile-o"></span>
                        <div class="timer count-title count-number mt-2 text-white">573</div>
                        <p class="count-text text-white">happy customers</p>
                    </div>

                    <div class="counter col-lg-3 col-6" data-aos="fade-up">
                        <span class="fa fa-database"></span>
                        <div class="timer count-title count-number mt-2 text-white">12</div>
                        <p class="count-text text-white">branches</p>
                    </div>
                    <div class="counter col-lg-3 col-6 mt-lg-0 mt-4" data-aos="fade-up">
                        <span class="fa fa-users"></span>
                        <div class="timer count-title count-number mt-2 text-white">324</div>
                        <p class="count-text text-white">professional team</p>
                    </div>
                    <div class="counter col-lg-3 col-6 mt-lg-0 mt-4" data-aos="fade-up">
                        <span class="fa fa-trophy"></span>
                        <div class="timer count-title count-number mt-2 text-white">7</div>
                        <p class="count-text text-white">years of experience</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //stats -->
    <!-- services -->

    <!-- //services -->
    <!-- map -->
    <div class="contact-wthree pt-lg-5 pt-4" id="contact">
        <div class="container pt-md-5 pt-4">
            <div class="text-center pb-4">
            </div>
            <div class="row py-lg-5 py-sm-4 pt-4">
                <div class="col-12 mb-4">
                    <div class="text-center">
                    </div>
                    <!-- register form grid -->
                    <div class="register-top1">
                        <form action="#" method="post" class="register-wthree">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--  //register form grid ends here -->
                </div>
            </div>
        </div>
<!--        <iframe src="{% static 'assets/https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2798902705!2d-74.25986790365911!3d40.697670067823786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1536917325197' %}"-->
<!--            allowfullscreen></iframe>-->
    </div>
    <!-- //map -->
    <footer class="bg-theme1">
        <div class="container">
            <div class="cpy-right">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="wthree-social">
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-facebook-f icon_facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-twitter icon_twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-dribbble icon_dribbble"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-google-plus icon_g_plus"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 text-lg-right mt-lg-0 mt-4">
                        <p class="text-white">© 2018 Water. All rights reserved | Design by
                            <a href="http://w3layouts.com"> W3layouts.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- popup-->
    <div id="gal1" class="pop-overlay animate">
        <div class="popup">
            <img src="{% static 'assets/images/Nestle Waters.jpg' %}" alt="Popup Image" class="img-fluid" />
            <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
            <a class="close" href="#portfolio_wthree">&times;</a>
        </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal2" class="pop-overlay animate">
        <div class="popup">
            <img src="{% static 'assets/images/3.jpg' %}" alt="Popup Image" class="img-fluid" />
            <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
            <a class="close" href="#portfolio_wthree">&times;</a>
        </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal3" class="pop-overlay animate">
        <div class="popup">
            <img src="{% static 'assets/images/4.jpg' %}" alt="Popup Image" class="img-fluid" />
            <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
            <a class="close" href="#portfolio_wthree">&times;</a>
        </div>
    </div>
    <!-- //popup3 -->
    <!-- popup-->
    <div id="gal4" class="pop-overlay animate">
        <div class="popup">
            <img src="{% static 'assets/images/5.jpg' %}" alt="Popup Image" class="img-fluid" />
            <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
            <a class="close" href="#portfolio_wthree">&times;</a>
        </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal5" class="pop-overlay animate">
        <div class="popup">
            <img src="{% static 'assets/images/6.jpg' %}" alt="Popup Image" class="img-fluid" />
            <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
            <a class="close" href="#portfolio_wthree">&times;</a>
        </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal6" class="pop-overlay animate">
        <div class="popup">
            <img src="{% static 'assets/images/7.jpg' %}" alt="Popup Image" class="img-fluid" />
            <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
            <a class="close" href="#portfolio_wthree">&times;</a>
        </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal7" class="pop-overlay animate">
        <div class="popup">
            <img src="{% static 'assets/images/1.jpg' %}" alt="Popup Image" class="img-fluid" />
            <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
            <a class="close" href="#portfolio_wthree">&times;</a>
        </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal8" class="pop-overlay animate">
        <div class="popup">
            <img src="{% static 'assets/images/2.jpg' %}" alt="Popup Image" class="img-fluid" />
            <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
            <a class="close" href="#portfolio_wthree">&times;</a>
        </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal9" class="pop-overlay animate">
        <div class="popup">
            <img src="{% static 'assets/images/3.jpg' %}" alt="Popup Image" class="img-fluid" />
            <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
            <a class="close" href="#portfolio_wthree">&times;</a>
        </div>
    </div>
    <!-- //popup -->
</body>

</html>